@import "tailwindcss";

@font-face {
  font-family: "Crozette";
  src: url("/fonts/Crozette-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cygre";
  src: url("/fonts/Cygre-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nightingale";
  src: url("/fonts/DTNightingale-Light.otf") format("opentype");
}

@font-face {
  font-family: "Goudy";
  src: url("/fonts/GoudyStM-webfont.woff") format("woff");
}

@font-face {
  font-family: "Nudles";
  src: url("/fonts/Nudles-Regular.woff") format("woff");
}

:root {
  font-family: "Cygre", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: #d7d7d7;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.almendra {
  font-family: "Almendra Display", serif;
  font-weight: 400;
  font-style: normal;
}
