@import "tailwindcss";

@font-face {
  font-family: "Crozette";
  src: url("/fonts/Crozette-Regular.woff") format("woff");
}

@font-face {
  font-family: "Cygre";
  src: url("/fonts/Cygre-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nightingale";
  src: url("/fonts/DTNightingale-Light.otf") format("opentype");
}

@font-face {
  font-family: "Goudy";
  src: url("/fonts/GoudyStM-webfont.woff") format("woff");
}

@font-face {
  font-family: "Nudles";
  src: url("/fonts/Nudles-Regular.woff") format("woff");
}

:root {
  font-family: "Cygre", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  color-scheme: light dark;
  color: #d7d7d7;
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.almendra {
  font-family: "Almendra Display", serif;
  font-weight: 400;
  font-style: normal;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #AAAAAA #FFFFFF;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 50px;
  background-color: #00000000;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff00;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff00;
}

*::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #ffffffaa;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}
